@import 'global.sass'
@import 'layout.sass'

*
  margin: 0
  padding: 0
  box-sizing: border-box

@font-face
  font-family: 'Din'
  src: url('assets/din-medium-webfont.woff')
body
  font-size: 12px
  overflow-x: hidden
#app
  font-family: 'Din', 'Noto Sans CJK TC Regular', 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-align: center
  color: #2c3e50
