.all{
  background-color: #F2F2F2;
}

h2 {
  text-align: left;
  width:100%;
  font-size: 30px;
  font-weight: bold;
  color: #54656E;
  padding-top: 40px;
  padding-bottom: 20px;
}

h3 {
  padding-bottom: 0px;
  padding-top: 0px;
}

.co-host{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.co-host_text{
  text-align: left;
  width:100%;
  font-size: 30px;
  font-weight: bold;
  color: #54656E;
  padding-top: 10px;
}
.co-host_text_1{
  width: 50%;
  display: inline-block;
  padding: 20px;
  opacity: 0.8;
  cursor: pointer;
}
.co-host_text_1:hover,.co-host_text_1:active{
  opacity: 1;
}
img{
  display: block;
  width: 90%;
  border-radius: 4px;
  background-color: white;
  margin: 0 auto;
}
@media all and (max-width: 1000px){
  .co-host_text{
    font-size: 32px;
  }
  .co-host_text_1{
    width: 100%;
  }
}
