.all{
  background-color: #F2F2F2;
}

h2 {
  text-align: left;
  width:100%;
  font-size: 40px;
  font-weight: bold;
  color: #54656E;
  padding-top: 60px;
  padding-bottom: 40px;
}

.co-host{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.co-host_text{
  text-align: left;
  width:100%;
  font-size: 40px;
  font-weight: bold;
  color: #54656E;
  padding-top: 20px;
}
.co-host_text_1{
  width: 50%;
  display: inline-block;
  padding: 30px;
  opacity: 0.8;
  cursor: pointer;
}
.co-host_text_1:hover{
  opacity: 1;
}
img{
  display: block;
  width: 90%;
  border-radius: 4px;
  background-color: white;
  margin: 0 auto;
}
@media all and (max-width: 1000px){
  .co-host_text{
    font-size: 48px;
  }
  .co-host_text_1{
    width: 100%;
  }
}
@media all and (max-width: 768px){
  .co-host_text{
    font-size: 50px;
  }
}
@media all and (max-width: 480px){
  .co-host_text{
    font-size: 40px;
  }
}
@media all and (max-width: 368px){
  .co-host_text{
    font-size: 40px;
    line-height: 1.5em;
  }
  .co-host_text_1{
    margin-bottom: 50px;
  }
}
