@import 'global.sass';

.staff {
  color: $main-color;
  padding-left: 40px;
}
h1 {
  margin: 40px 0 20px 0;
  width: 100%;
  font-size: 30px;
  font-weight: 500;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  text-align: left
}

.group {
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0;
  margin-left: 18px;
  margin-bottom: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

h2 {
  position: absolute;
  right: 100%;
  width: 1.1em;
  font-size: 16px;
  line-height: 1.3em;
}

.staff_card {
  margin: 0 1.2em 1.6em 1.2em;
  width: 80px;
  vertical-align: top;
}

.staff_photo {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 15px;
  border: solid 1px rgba( 0 , 0 , 0 , 0.2);
}

img {
  height: 80px;
}

p {
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  word-wrap: break-word;
}

.staff_photo {
  width: 80px;
  height: 80px;
}

@media all and (max-width: 1000px){
  .staff {
    padding-left: 15px;
  }
}
